<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="NombreEquipo" value="DM_BC6200" />
		<add key="intentosReconexionDB" value="1" />
		<add key="ciclos" value="8" />
		<add key="tiempo" value="2" />
		<add key="diasatras" value="200" />
		<add key="GrupoExamen" value="'INM','REM','QUI','QUIU','MICROB','URO','HEM','ESP'" />
		<add key="programarExamenesConResultados" value="S" />
		<add key="ImprimirQuery" value="N" />
		<add key="caratulaPorEquipo" value="N" />
		<add key="equipoCodigoCaratula" value="CL1200" />
		<add key="reactivoCodigoCaratula" value="NA" />
		<add key="SobreEscribeResultado" value="S" />
		<add key="IpServidor" value="192.168.0.14"/>
		<add key="PuertoServidor" value="3030"/>
		<!--Configuracion Log-->
		<add key="ActivaLog" value="S" />
		<add key="RutaLog" value="C:\logs" />
		<add key="NombreLog" value="DM_BC6200" />
		<!--Configuracion parametros QC-->
		<add key="IndentificadorNivel1" value="Low,low,L,1" />
		<add key="IndentificadorNivel2" value="Madium,medium,M,2" />
		<add key="IndentificadorNivel3" value="high,h,3" />
		<add key="StrCadenaConeccion" value="Server=192.168.90.13; Port=5432; Database=viva1a; User Id=postgres; Password=postgres;" />
	</appSettings>
</configuration>