<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Configuración Rutas archivos-->
		<add key="RutaArchivos" value="D:\Archivos" />
		<add key="RutaArchivosOK" value="D:\ArchivosOK" />
		<add key="RutaArchivosError" value="D:\ArchivosERROR" />
		<!--Configuracion Log-->
		<add key="ActivaLog" value="S" />
		<add key="RutaLog" value="C:\logs" />
		<add key="NombreLog" value="DM_BC6200" />
		<!--Configuracion parametros QC-->
		<add key="NombreEquipoUno" value="EquipoPruebaUno" />
		<add key="NombreEquipoDos" value="EquipoPruebaDos" />
		<add key="IdentificadorEquipoUno" value="TW-21001963" />
		<add key="IdentificadorEquipoDos" value="TW-21001962" />
		<add key="IdentificadorMuestra" value="CD" />
		<add key="IdentificadorMuestraRET" value="RET" />
		<add key="IndentificadorNivel1" value="Low,low,L,1" />
		<add key="IndentificadorNivel2" value="Madium,medium,M,2" />
		<add key="IndentificadorNivel3" value="high,h,3" />
		<add key="CantidadCaracteresLoteDisminuir" value="1" />
		<add key="CantidadCaracteresLoteDisminuirRET" value="2" />
		<!--Config ApiRest-->
		<add key="Header" value="desarrollo"/>
		<add key="UserName" value="interfaz" />
		<add key="Pass" value="123456789" />
		<add key="UrlToken" value="https://valiqc-backend-integraciones-desarrollo.azurewebsites.net/ComunicacionExterna/authentication" />
		<add key="UrlRegistroResultados" value="https://valiqc-backend-integraciones-desarrollo.azurewebsites.net/ComunicacionExterna/EnvioResultados" />
	</appSettings>
</configuration>